html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F0ECEE;
    font-family: 'Fira Sans', sans-serif;
}


/* NAV */

header {
    margin: 0 24px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #88898B;
    font-weight: 300;
    padding: 2px;
}

a:hover {
    color: #FF4850;
}


/* BODY */

main {
    margin: 10px 24px 0px 24px;
}

span {
    font-size: 2em;
    color: black;
    font-weight: 600;
}

strong {
    color: #FF4850;
}

p {
    color: #88898B;
    font-size: 20px;
    font-weight: 400;
}


/* BUTTON */

.button-one {
    background-color: #FF4850;
    padding: 25px 122px;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-weight: 300;
    flex-grow: 1;
}

.button-two {
    background-color: #FF4850;
    width: 100%;
    padding: 25px 100px;
    border-radius: 15px;
    color: white;
    font-weight: 300;
    text-align: center;
}

.button-one:hover,
.button-two:hover {
    background-color: #CCC;
    border-color: #CCC;
}

.btn-container {
    display: flex;
}


/* Desktop */

@media only screen and (min-width: 768px) {
    header {
        display: flex;
        padding: 20px 50px;
    }
    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-left: 0;
        padding: 0;
    }
    li {
        text-decoration: none;
        padding: 10px 0px,
    }
    a {
        padding: 10px;
    }
    .adopt-me {
        flex-grow: 1;
    }
    /* BODY */
    body {
        background-color: #F0ECEE;
        background: url("bulldog.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin: auto;
        font-family: 'Fira Sans', sans-serif;
    }
    .para-container {
        padding: 50px;
        height: 50%;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button-one {
        padding: 1em 1em;
    }
    .button-two {
        background-color: #FF4850;
        padding: 1em 4em;
        width: 100px;
    }
}